<html>
<head>
<title>Battleship</title>
</head>

<body>
<div class="container">
	<h1>Battelship</h1>
<div id="battleship">
<board columns="10" rows="10"></board>
<h5></h5>
<div class="">
<button @click="rotated =! rotated" :disable="ship.available == 0" type="button" class="btn btn-default btn-xs">
Rotate the ship {{rotated ? 'vertical' : 'horizontal'}}</button>

<h5>Ships available</h5>
<p v-for="ship in ships"><button @click="setSelectedSip(ship)" :disabled="ship.available == 0"
type="button" class="btn btn-default btn-xs">Choose</button>&nbsp
{{ship.type}} {{ship.available}}</p>

<template id="board-template">
			<table border="1" width="600" height="600">
				<tr v-for="data in board">
				<td v-for="data in board"></td></tr>
			</table>
		</template>

	</div>
</div>
</body>
<script type="text/javascript" src="vue.js"></script>
<script type="text/javascript" src="game.js"></script>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

</html>