@font-face{
    font-family: AR DESTINE;
    src: ARDESTINE.ttf;}
	
body{background-color:#7fb8f2;}	

.grid td{border-width: 8px;
		 border-color:rgba(255,199,87,0.55);}
		
.grid td:nth-child(1){border-left-color:rgba(0,0,0,0);}

.grid td:nth-child(9){border-right-color:rgba(0,0,0,0);}

.grid tr:nth-child(1) td{border-top-color:rgba(0,0,0,0);}

.grid tr:nth-child(10) td{border-bottom-color:rgba(0,0,0,0);}		


table{
    width: 35%;
}

tr:first-child > td, td:first-child {
    padding-left: 20px;
}

.tile:hover, .tile-hover, .placed-tile {
    background-color: 2b5b8c;
    cursor: pointer;
}

.hit-tile {
    background-color: #a3213d;
}

.missed-tile {
    background: #fefeca;
}

#boards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

#msg {
    display: flex;
    justify-content: center;
}

h1{text-align: center;
   font-family: AR DESTINE;
   font-size:7em;}


#buttons {
    display: flex;
    /*align-items: baseline;*/
    justify-content: center;
    flex-wrap: nowrap;
    align-content: flex-start;

    margin-top: 15px;
    width: 35%;
    margin-left: 7.5%;
}

button {
    background-color: white;
    border: lightgrey solid 1px;
    border-radius: 10px;
    flex-shrink: 2;
}

button:hover {
    background-color: lightgrey;
    border-color: grey;;
}

p{
    font-size: .8em;
}

#rotate {
    margin-left: 7.5%;
    background-color: white;
    border: lightgrey solid 1px;
    border-radius: 10px;

    font-size: 0.8em;
}

#ready {
    display: flex;
    justify-content: center;
}