.title {
    background-color: red;
    float: left;

    border: 2px solid;
}

#grid {
    margin-left: auto;
    margin-right: auto;
}

#buttons{
    float: left;
    width: 325px;

    border: 2px lightgrey solid;
    border-radius: 10px;
    padding: 10px;
}

button{
    width: 200px;
    height: 40px;
    margin-bottom: 10px;
    margin-right: 10px;

    border: 2px lightblue solid;
    border-radius: 5px;
    background-color: white;
}

#rotateButtons {
    margin-top: 25px;
    float: left;
}

.rotateButton {
    width: 150px;
}
button:hover {
    background-color: lightgrey;
}

h1{
    text-align: center;
    font-size: 50px;
    font-weight: normal;
}

body {
    font-family: 'Oswald', sans-serif;
}